* {
    color: black;
    background-color: white;
    margin: 0%;
}
body {
    margin: 0px;
    width: 100%;
}
.container {
    margin: 0px;
    width: 100%;
}
#header {
    color: white;
    /*background-color: #21219e;*/
    width: 100%;
    margin: 0%;
    height: 100px;
    text-align: center;
    font-size: 75px;
    background: linear-gradient(to right, #3366cc 0%, #0000cc 100%);
}
h2 {
    margin-right: 30%;
}
.cityBtn {
    background-color: lightgray;
    margin: 2px;
    height: 35px;
}
.btn-group-vertical{
    display: block;
  }
.fiveCard {
    background-color: #597484 ;
    margin: 5px;
}
h5, p, img {
    background-color: transparent;
}
.fiveDayCards {
    margin: 5px;
}

#fiveDayContainer{
    display: flex;
justify-content: flex-end;
}